html {
	scroll-behavior: smooth;
}
body{
	background-color:linen;
	color:black;
	margin:0;
	font-family: 'Roboto Slab', serif;
}

.container{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin:auto;
	overflow:hidden;
}

.navbar-container{
	width:100%;
}
.navbar{
	background-color: #303030;
	position:fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
}
.navbar ul{
	width:100%;
	list-style: none;
	display:flex;
	align-items: center;
}
.navbar a{
	color:linen;
	text-decoration: none;
	font-size: 20px;
	padding:0 20px;
}
.navbar a:hover{
	background: rgba(255,255,255,0.1);
	color:salmon;
	border-radius: 2px;
	border-bottom: 1px solid salmon;
	transition:all 0.2s ease-in-out;
}

#about{
	padding: 50px;
}

#about h1{
	font-size: 100px;
	color:salmon;
}

#about p{
	font-size: 50px;
}

#resume{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding:125px;
	background:salmon;
}

#resume h1{
	font-size: 3rem;
}

#resume p{
	font-size: 20px;
}

#resume a{
	border:1px black solid;
	color:black;
	border-radius: 10px;
	padding: 10px 40px;
	text-decoration: none;
}

#resume a:hover{
	background:#303030;
	color:linen;
	transform:scale(1.1,1.1);
	transition: all 0.3s ease-in-out;
}

#profile {
  width: 600px;
  height: 600px;
  overflow: hidden;
  border-radius: 50%;
  margin: 100px auto;
}

#profile img {
  height: 100%;
  margin-left: -260px;
}


#skills{
	width:100%;
}

.skills-container{
    display:flex;
    align-items: center;
    flex-direction: column;
	width:90%;
	height:100%;
}



#skills .container .skills-container ul{
	border:3px solid lightslategray;
	border-radius:2%;
	background:linen;
	box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.5);
	list-style: none;
	line-height: 50px;
	width:100%;
	padding:10px 0px;
	margin:50px;
	height:80%;
}

#skills .container .skills-container h1{
	font-size: 3rem;
	color: salmon;
}

#skills .container .skills-container li{
	font-size: 35px;
}

.projects-container{
    display:flex;
    flex-direction: column;
	width:80%;
}

.projects-container .image{
	overflow:hidden;
}

.projects-container ul li{
    text-align: center;
    font-size: 35px;
}

.projects-container ul{
	text-align: center;
}

.project{
	border: 2px salmon solid;
    padding: 20px;
    margin:50px 0;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.5);
	align-items: center;
	justify-content: center;
	text-align: center;
}
.projects-container img{
	width: 600px;
	height: 400px;
 }
