html {
	scroll-behavior: smooth;
}
body{
	background-color:linen;
	color:black;
	margin:0;
	font-family: 'Roboto Slab', serif;
}

.container{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin:auto;
	overflow:hidden;
}

.navbar-container{
	width:100%;
	
}
.navbar{
	background-color: linen;
	position:fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	z-index:10;

}

/* navbar! */
.navbar #mobileNav{
	width:100%;
	height:100%;
	list-style: none;
	display:none; 
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.navbar li{
	padding:10px 0;
}
.navbar a{
	color:#303030;
	text-decoration: none;
	font-size: 60px;
	padding: 10px 30px;
}

/* Hamburger!! */
.navbar-container .hamburger{
	/* display:none; */
	font-size: 75px;
	padding:20px 20px;
	background:linen;
	color:#303030;
	border:none;
	
}

#close a{
	font-size: 75px;
}

#close{
	padding-bottom: 90px;
}



.navbar-container .hamburger:hover{
	color:cadetblue;
}
.navbar a:hover{
	background: rgba(0, 0, 0, 0.1);
	color:cadetblue;
	border-radius: 2px;
	border-bottom: 1px solid cadetblue;
	transition:all 0.2s ease-in-out;
}

.home-container{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin:auto;
	overflow:hidden;
	height: 80vh;
	background:#303030;
}

.home-links{
	width:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-links a:hover{
	color:#303030;
	background:linen;
	transition: all 0.75s ease-in-out;
}


.link{
	font-size: 50px;
	margin:20px 0px;
	padding:0px 10px;
	width:50%;
	border-radius: 10px;
	background:cadetblue;
	border:1px black solid;
	text-decoration: none;
	color:linen;
	border:none;
}

#about{
	padding: 50px;
}

#about h1{
	font-size: 100px;
	color:cadetblue;
}

#about p{
	color:linen;
	font-size: 50px;
}

#resume{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding:125px;
	background:cadetblue;
	font-size: 40px;
}

#resume h1{
	font-size: 4rem;
}

#resume p{
	font-size: 35px;
}

#resume a{
	border:1px black solid;
	color:black;
	border-radius: 10px;
	padding: 10px 40px;
	text-decoration: none;
}

#resume a:hover{
	background:#303030;
	color:linen;
	transform:scale(1.1,1.1);
	transition: all 0.3s ease-in-out;
}

#profile {
  width: 600px;
  height: 600px;
  overflow: hidden;
  border-radius: 50%;
  margin: 100px auto;
  display:none;
}

#profile img {
  height: 100%;
  margin-left: -260px;
}


#skills{
	width:100%;
	text-align: center;
	font-size: 40px;
}

#skills hr{
	width: 90%;
}

.skills-container{
    display:flex;
    align-items: center;
    flex-direction: column;
	width:90%;
	height:100%;
}



#skills .container .skills-container ul{
	border:3px solid lightslategray;
	border-radius:2%;
	background:linen;
	box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.5);
	list-style: none;
	line-height: 50px;
	width:100%;
	padding:10px 0px;
	margin:50px;
	height:80%;
}

#skills .container .skills-container h1{
	font-size: 3rem;
	color: cadetblue;
}

#skills .container .skills-container li{
	font-size: 35px;
}

#projects{
	text-align: center;
	font-size: 40px;
}

#projects .chevron{
	font-size: 75px;
	color:#303030;
}

#projects hr{
	width: 90%;
}

.projects-container{
    display:flex;
    flex-direction: column;
	width:80%;
}

.projects-container .image{
	overflow:hidden;
}

.projects-container ul li{
    text-align: center;
    font-size: 35px;
}

.projects-container ul{
	text-align: center;
}

.project{
	border: 2px cadetblue solid;
    padding: 20px;
    margin:50px 0;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.5);
	align-items: center;
	justify-content: center;
	text-align: center;
}
.projects-container img{
	width: 600px;
	height: 400px;
 }
